{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Setting - DE Defender</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="{% static 'templatemo_style.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

	<div id="templatemo_menu_panel">
    	<div id="templatemo_menu_section">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'setting' %}" class="current">Setting</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Archives</a></li>  
                <li><a href="#">Links</a></li> 
                <li><a href="#">Contact</a></li>                     
            </ul> 
		</div>
    </div> <!-- end of menu -->


    
        
        <div id="upload_dataset_button" class="setting_panel">
            <h2 style="color: #ff9d11; margin-bottom: 20px;">Upload BiGram Dataset</h2>
            <form method="POST" action="{% url 'upload_bigram_dataset' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="margin-bottom: 15px;">
                    <label for="dataset_file" style="color: #ffffff; display: block; margin-bottom: 5px;">Choose dataset file:</label>
                    <input type="file" name="dataset_file" id="dataset_file" accept=".csv,.txt,.json" style="padding: 5px; margin-bottom: 10px;">
                </div>
                <input type="submit" value="Upload BiGram Dataset" style="background-color: #ff9d11; color: #ffffff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-weight: bold;">
            </form>
        </div>
        

	<div id="templatemo_bottom_panel">
    	<div id="templatemo_bottom_section">
        
	        <div class="templatemo_bottom_section_content">
                <h3>Gallery</h3>
                <ul class="gallery">
                	<li><a href="#"><img src="{% static 'images/templatemo_thumb_01.jpg' %}" alt="image name" /></a></li>
                    <li><a href="#"><img src="images/templatemo_thumb_02.jpg" alt="image name" /></a></li>
                    <li><a href="#"><img src="images/templatemo_thumb_03.jpg" alt="image name" /></a></li>
                    <li><a href="#"><img src="images/templatemo_thumb_04.jpg" alt="Free CSS" /></a></li>
                    <li><a rel="nofollow" href="http://www.flashmo.com" target="_blank"><img src="images/templatemo_thumb_05.jpg" alt="Free Flash" /></a></li>
                    <li><a rel="nofollow" href="http://www.webdesignmo.com" target="_blank"><img src="images/templatemo_thumb_06.jpg" alt="Web Design" /></a></li>
                </ul>
            </div>
          
            <div class="templatemo_bottom_section_content">
                <h3>Friends</h3>
                <ul class="list_section">
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Duis mollis</a></li>
                    <li><a href="#">Maecenas adipiscing</a></li>
                    <li><a href="#">Nunc blandit orci</a></li>
                    <li><a href="#">Cum sociis natoque</a></li>
                </ul>
            </div>
            
            <div class="templatemo_bottom_section_content">
                <h3>Other Links</h3>
                 <ul class="list_section">
                    
                    <li><a href="#">About</a></li>                 
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                    
                </ul>
                <a href="http://validator.w3.org/check?uri=referer"><img style="border:0;width:88px;height:31px" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" width="88" height="31" vspace="8" border="0" /></a>
<a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px"  src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" vspace="8" border="0" /></a> 
            </div>
            
        </div> <!-- end of templatemo bottom section -->
    </div> <!-- end of templatemo bottom panel -->
  <!--  Designed by w w w . t e m p l a t e m o . c o m  -->  
<div id="templatemo_footer_panel">
    	<div id="templatemo_footer_section">
			Copyright © 2024 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com -->
        </div>
    </div>
<!-- templatemo 063 green blog -->
<!-- 
Green Blog Template 
http://www.templatemo.com/preview/templatemo_063_green_blog 
-->
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
